// Essentials.
@import "essentials";

// Generic
@import "2-generic/generic";
@import "2-generic/gutenberg";
@import "2-generic/slick-carousel";
@import "2-generic/search-results";

// Layouts.
@import "4-layouts/posts/meta";
@import "4-layouts/posts/post-card";
@import "4-layouts/posts/pagination";
@import "4-layouts/header/nav/navigation";
@import "4-layouts/search-form";

// Components

.aboutUsSpacerBG {
  background: transparent;
  // background-image: url('~//img/about/about_banner_icon.svg') no-repeat center center fixed;
}

.about-hero-container {
  @include mq( medium ) {
    max-width: 80vw;
    margin: auto;
  }
}